.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 10px solid navy;
  border-radius: 10px;
  background-color: rgb(183, 243, 243);
}
/*  */

.main-tenzo {
  width: 400px;
  height: 200px;
  border: 3px solid teal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 10px;
  border-radius: 10px;
}
h1 {
  font-weight: bold;
}

.roll {
  width: 400px;
}
.roller {
  height: 25px;
  margin-block: auto;
  height: 30px;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roller button {
  width: 100px;
  cursor: pointer;
  height: 25px;
  border: 2px solid teal;
}
.roller button.done {
  border: 2px solid rgb(1, 107, 1);
  border-radius: 10px;
}